@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Noto Sans', 'D2Coding', sans-serif; */
  line-height: 1.6;
}
